.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo {   
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 1rem;
}

.paragrafo {    
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: .1rem;
}

.paragrafosm {
    font-size: 1.2rem;
    padding-left: .3rem;
    font-weight: 400;
       
}

.imagens {
    position: relative;
    height: 406px;
}

.imagens > .minhaFoto {
    position: absolute;
    right: 2.5vw;
    bottom: -1vw;
    width: 16vw;
    border-radius: 50%;
}

.imagens > .circuloColorido {
    position: absolute;
    right: 9vw;
    bottom: 2.2vw;
    width: 20vw;
}

@media (max-width: 1100px) {    
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }

    .imagens {
        height: 338px;
    }

    .imagens > .minhaFoto {
        width: 22vw;
    }

    .imagens > .circuloColorido {
        
        width: 30vw;
    }
}

@media (max-width: 743px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .imagens {
        height: 307px;
    }

    .imagens > .minhaFoto, .imagens > .circuloColorido {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .imagens > .minhaFoto {
        width: 180px;
        transform: translate(3.8rem, -5px);
    }

    .imagens > .circuloColorido {
        width: 250px;
        transform: translate(-1.5rem, 0px);
    }
}